.container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.logout {
  background-color: #53c28b;
  border: none;
  padding: 5px;
  color: white;
  cursor: pointer;
}
